@{
    ViewData["Title"] = "Home Page";
}

<div class="IndexContainer">
    <div class="actionsContainer">
        @using (Html.BeginForm("GetExchangeRate", "Home", FormMethod.Get))
        {
            <input type="submit" value="Get Currency Rate" />
        }
    </div>
</div>
